@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

/* Global */
:root {
    --color-primary: var(--color-black);
    --color-primary-variant: var(--color-gray);
    --color-accent: var(--color-blue);
    --color-accent-variant: var(--color-orange);
    --color-text: var(--color-white);

    --color-black: #050a13;
    --color-gray: #1b1e26;
    --color-blue: #09F900;
    --color-orange: #fd6413;
    --color-white: #ffffff;

    --size-max-width: 1200px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Pretendard';
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

ul {
    list-style: none;
    padding: 0;
}

.section {
    padding: 4rem;
    text-align: center;
}

.max-container {
    max-width: var(--size-max-width);
    margin: auto;
}

.title {
    font-size: 2.5rem;
    margin: 1rem 0;
}

.description {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

/* header */
.header {
    background-color: var(--color-primary);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__logo__img {
    width: 36px;
    height: 36px;
}

.header__logo__title {
    font-size: 1.8rem;
}

.header__menu {
    display: flex;
    gap: 4px;
}

.header__menu__item {
    padding: 8px 16px;
}

.header__menu__item:hover {
    border-bottom: 1px solid var(--color-accent);
}

.header__menu__item.active {
    border: 1px solid var(--color-accent);
    border-radius: 5px;
}

/* home */
#home {
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 7rem 1rem 5rem;
    text-align: center;
}

.home__avatar {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: 3px solid var(--color-accent);
    object-fit: cover;
}

.home__title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home__title--strong {
    color: var(--color-accent);
}

.home__description {
    font-size: 1.5rem;
}

.home__contact {
    display: inline-block;
    background-color: var(--color-accent);
    color: var(--color-black);
    margin: 2rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    border-radius: 5px;
}

.home__contact:hover {
    background-color: transparent;
    color: var(--color-text);
    outline: 2px solid var(--color-accent);
}

/* about */
.majors {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 2.5rem 0;
}

.major {
    background-color: var(--color-primary-variant);
    padding: 2rem 1rem;
    color: var(--color-text);
    border-radius: 1rem;
    cursor: default;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.4);
}

.major__icon {
    font-size: 4rem;
    margin: 1rem 0;
    color: var(--color-accent);
    transition: all 300ms ease;
}

.major:hover .major__icon {
    transform: rotate(-15deg) scale(1.2);
}

.major__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.jobs {
    text-align: start;
}

.job {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 1rem;
}

.job__name {
    color: var(--color-primary);
}

.job_period {
    color: var(--color-primary);
    font-size: 0.8rem;
}

.jobs img {
    width: 200px;
}